# Web Framework
fastapi
uvicorn
gunicorn

# Database
sqlalchemy
psycopg2-binary

# Data Validation
pydantic

# Environment Variables
python-dotenv

# Stock Market Data
yfinance

# Google Authentication
google-auth
google-auth-oauthlib
google-auth-httplib2

# Security
passlib[bcrypt]
python-jose[cryptography]
python-multipart