fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
yfinance
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
fastapi[all]
psycopg2-binary